{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Анна Карташева</h1>

<img src="{% static 'img/me.jpg' %}" width="500" height="400"
     class="rounded float-left img-thumbnail" alt="My image">
<table class="table table-striped table-dark table-bordered">
  <thread>
    <tr>
      <th scope="col">Ресурс</th>
      <th scope="col">Ссылка</th>
    </tr>
  </thread>
  <tbody>
  <tr>
    <td>Здесь можно увидеть мое резюме</td>
    <td><b>
      <a href="https://hh.ru/resume/31b62aedff09b11fa90039ed1f655377455741"> Резюме</a>
    </b>
    </td>
  </tr>
  <tr>
    <td>А это ссылка на гитхаб</td>
    <td><b><a href="https://github.com/KartashevaAnna">Гитхаб</a></b>
    </td>
  </tr>
  <tr>
    <td>Это мое хобби</td>
    <td>
      <img src="{% static 'img/hobby.jpg' %}" width="300" height="200"
             class="rounded float-left img-thumbnail" alt="Магия ночи">
      <p>"Магия Ночи"</p>
      <p>Вышиваю крестом с 2012 года</p>
    </td>
  </tr>
  <tr>
    <td>Начала записывать свои впечатления от игр</td>
    <td><b><a href="https://annakartasheva.livejournal.com/2769.html">Живой
      журнал</a></b></td>
  </tr>
  </tbody>
</table>
{% endblock content %}
